// Place all the styles related to the place controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header_img {
  width: 100%;
  height: 150px;
  margin-top: -25px;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #BBBBBB;
}

