<p><%= f.text_field :position, placeholder: 'Your position', required: true %></p>
<p><%= f.number_field :exp_period, placeholder: 'Experience (years)', step: 0.5, required: true %></p>
<%= f.submit %>
